* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

main {
  border-radius: 10px;
  border: 4px solid rgb(99, 172, 255);
  box-shadow: 10px 10px 5px gray;
  width: 35%;
  margin: 30vh auto;
  padding: 2em;
  background: rgb(191, 239, 255);
}
div {
  margin: 0 auto;
  width: 90%;
}

h1 {
  margin-bottom: 1rem;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  height: 2em;
  border-radius: 7px;
  font-size: 1rem;
  padding: 0.5em;
}

button {
  display: inline-block;
  margin: 0.5em 0.1em 0em 0.1em;
  text-align: center;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 1.3em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

button:hover{
    background: rgb(71, 203, 255);
}

.center_items {
  text-align: center;
  align-items: center;
}

