*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgreen;
    height: 5vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: lightblue;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    height: 5vh;
}
